PORT=5000

DATABASE_URL=your_mongodb_connection_string

JWT_SECRET=your_jwt_secret

ACCESS_TOKEN_EXPIRES=7d

AWS_ACCESS_KEY_ID=your_aws_access_key_id

AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

AWS_REGION=ap-south-2

AWS_S3_BUCKET=your_s3_bucket_name

ADMIN_NAME=System Administrator

ADMIN_EMAIL=admin@example.com

ADMIN_PASSWORD=your_admin_password

AI_SERVICE_URL=http://localhost:8000
